%link(rel="stylesheet" type="text/css" href="../style.css")
%h1

%h2 Do you really want to buy this item?
%p
 #{itemToBuy.to_s}
 %p


  Your credit now: #{buyer.amount}
  Your credit after the deal: #{buyer.amount - itemToBuy.price}
  id = itemToBuy.id
 %form( action="/buy/#{id}" method="POST" )
  %input{:type => "submit", :value =>"Yes", :name => "Yes", :class => "button"}
 %form( action="/" method="GET" )
  %input{:type => "submit", :value =>"Abort", :name => "Abort", :class => "button"}

%a{:href => "/logout"} Logout
%a{:href => "/"} Back

%hr
Time: #{time.strftime("%H:%M:%S")}